h1{color: darkmagenta;
font-family: cursive;}



p{color: rgb(76, 59, 138);
font-size: 25px;
}
.ti1{color: darkorchid;}
.ti2{color: darkblue;}
.ti3{color: mediumpurple;}
h2{color: rgb(107, 18, 107);
font-family: cursive;
}
strong{color: darkslateblue;}
li{color: rgb(92, 92, 155);
font-size: 19px;}
footer{color: slategray;}
body{background-color: rgb(200, 226, 226);}


